<app-navbar></app-navbar>

<div class="container">
    <div class="card shadow">
        <div class="text-center mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-person-circle text-primary" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </div>
        <div class="card-body text-center">
            <h5 class="card-title">{{ usuario.nombre }}</h5>
            <h5 class="card-title">{{ usuario.apellidoP }} {{ usuario.apellidoM }}</h5>
            
            <p class="card-text">
                <strong>ID:</strong> {{ usuario.id }}<br>
                <strong>Rol:</strong> {{ rolTexto(usuario.id_rol) }}<br>
                <strong>Turno:</strong> {{ turnoTexto(usuario.id_turno) }}<br>
                <strong>Guardia:</strong> {{ usuario.id_guardia }}
            </p>
        </div>
    </div>
</div>
