.card {
    max-width: 400px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1.1rem;
    color: #666;
}

.card.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card.shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.text-primary {
    color: #007bff; /* Color azul primario de Bootstrap */
}
