<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <!-- Logo como imagen -->
      <a class="navbar-brand" href="#">
        <img src="/public//Check.png" alt="Logo de Mi App" height="40">
      </a>
      <!-- Botón de colapsar para pantallas pequeñas -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Elementos del menú -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/agenda" routerLinkActive="active">Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lista-asistencia" routerLinkActive="active">Lista de Asistencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lista-personal" routerLinkActive="active">Lista de Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sanciones" routerLinkActive="active">Sanciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user" routerLinkActive="active">Mis Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  